<!-- possible to change @ articles for obj and parse object throug render -->
<div class="container">
	<% obj.each do |article| %>
		<div class="row justify-content-md-center">
			<div class="col-8 mt-4">
				<div class="card text-center shadow mb-5 bg-white rounded">
				  <div class="card-header font-italic">
				  	<% if article.user %>
				    by <%= link_to article.user.username, user_path(article.user) %>
				    <% end %>
				  </div>
				  <div class="card-body">
				    <h5 class="card-title"><%= link_to article.title, article_path(article), class: "text-successs" %></h5>
				    <p class="card-text"><%= truncate(article.description, length: 100) %></p>
				    <% if article.categories.any? %>
							<p>Categories: <%= render article.categories %></p>
		    		<% end %> 
				    <%= link_to "Show", article_path(article), class: "btn btn-outline-success" %>
				    <% if logged_in? && (current_user == article.user || current_user.admin?) %>
				    <%= link_to "Edit", edit_article_path(article), class: "btn btn-outline-warning" %>
				    <%= link_to "Delete", article_path(article), method: :delete, class: "btn btn-outline-danger" %>
				  <% end %>
				  </div>
				  <div class="card-footer text-muted">
				    <p><small>Created: <%= article.created_at.strftime("%d %B %Y") %>, Updated: <%= article.updated_at.strftime("%d %B %Y") %></small><br>
				    <!-- <small>Created <%= time_ago_in_words(article.created_at) %> ago, Updated <%= time_ago_in_words(article.updated_at) %> ago.</small></p> -->
				  </div>
				</div>
			</div>
		</div>
	<% end %>
</div>