<div class="container">
  <%= render 'shared/errors', obj: @article %>
  <div class="row justify-content-center">
    <div class="col-10">
      <%= form_with(model: @article, class: "shadow p-3 mb-3 bg-info rounded", local: true) do |f| %>
        <div class="form-group row">
          <%= f.label :title, class: "col-2 col-form-label text-light" %>
          <div class="col-sm-10">
            <%= f.text_field :title, class: "form-control shadow rounded", placeholder: "Title" %>
          </div>
        </div>
        <div class="form-group row">
          <%= f.label :description, class: "col-2 col-form-label text-light" %>
          <div class="col-sm-10">
            <%= f.text_area :description, rows:10, class: "form-control shadow rounded", id: "exampleFormControlTextarea1", placeholder: "Description" %>      
          </div>
        </div>
        <div class="form-group">
          <div class="row justify-content-center">
            <div class="col-sm-offset-2 col-sm-8 form-check">
              <%= f.collection_check_boxes :category_ids, Category.all, :id, :name do |cb| %>
                <% cb.label(class: "checkbox-inline input_checkbox") {cb.check_box(class: "checkbox") + cb.text} %>
              <% end %>
            </div>
          </div>
        </div>          
        <div class="form-group row justify-content-center">
        <%= f.submit class: "btn btn-outline-light btn-lg" %>
        </div>
      <% end %> 
    </div>
    <div class="mb-3">
    <%= link_to 'Cancle and Return to listing', articles_path, class: "text-info" %>
    </div>
  </div>
</div>