<h2 class="text-center mt-5"><%= @article.title %></h1>
<div class="container">
	<div class="row justify-content-md-center">
		<div class="col-8 mt-4">
			<div class="card text-center shadow mb-5 bg-white rounded">
				<div class="card-header font-italic">
				    by <%= @article.user.username if @article.user %>
				    <%= link_to gravatar_for(@article.user, size: 80), user_path(@article.user) %>
				</div>
		 		<div class="card-body">
		    	<div class="card-text text-left"><%= simple_format(@article.description) %></div>
		    	<% if @article.categories.any? %>
						<p>Categories: <%= render @article.categories %></p>
		    	<% end %> 
		    	<% if logged_in? && (current_user == @article.user || current_user.admin?) %>
				    <%= link_to "Edit", edit_article_path(@article), class: "btn btn-outline-warning" %>
				    <%= link_to "Delete", article_path(@article), method: :delete, class: "btn btn-outline-danger" %>
			    <% end %>
			  </div>
			  <div class="card-footer text-muted">
			    <p><small>Created: <%= @article.created_at.strftime("%d %B %Y") %>, Updated: <%= @article.updated_at.strftime("%d %B %Y") %></small><br>
				  	<small>Created <%= time_ago_in_words(@article.created_at) %> ago, Updated <%= time_ago_in_words(@article.updated_at) %> ago.</small></p>
			  </div>
			</div>
		</div>
	</div>
</div>


<%= link_to 'Return to listing', articles_path %>