<h1 class="text-center mt-5">Users</h1>
<%= render 'shared/pagination', obj: @users %>
<div class="container">
	<% @users.each do |user| %>
		<div class="row justify-content-md-center">
			<div class="col-8 mt-4">
				<div class="card text-center shadow mb-5 bg-white rounded">
				  <div class="card-header font-italic">
				    <%= link_to user.username, user_path(user) %>
				  </div>
				  <div class="card-body">
				    <h5 class="card-title"><%= link_to gravatar_for(user, size: 150), user %></h5>
				    <p class="card-text"><%= pluralize(user.articles.count, "article") %></p>
				    <%= link_to "View profile", user_path(user), class: "btn btn-outline-success" %>
				    <% if logged_in? && (current_user == user || current_user.admin?) %>
				   	 <%= link_to "Edit profile", edit_user_path(user), class: "btn btn-outline-warning" %>
				    <% end %>
				    <% if logged_in? && current_user.admin? %>
				     <%= link_to "Delete this user", user_path(user), method: :delet, data: { confirm: "Are you sure you want to delete the user aand all their articles?" }, class: "btn btn-outline-danger" %>
				    <% end %>
				  </div>
				  <div class="card-footer text-muted">
				    <p><small>Joined: <%= user.created_at.strftime("%d %B %Y") %>, <%= time_ago_in_words(user.created_at) %> ago</small></p>
				  </div>
				</div>
			</div>
		</div>
	<% end %>
</div>
<%= render 'shared/pagination', obj: @users %>
