<h1 class="text-center mt-4">Profile of <%= @user.username %></h1>

<%= gravatar_for @user, size: 200 %>
<br>
<div class="text-center mt-4">
	<% if logged_in? && current_user == @user || current_user.admin?%>
	<%= link_to "Edit your profile", edit_user_path(@user), class: "btn btn-outline-info" %></div>
	<% end %>

<h2 class="text-center mt-4">Articles from user</h2>
<%= render 'shared/pagination', obj: @user_articles %>
<%= render 'articles/article', obj: @user_articles %>
<%= render 'shared/pagination', obj: @user_articles %>


<%= link_to 'Return to listing', articles_path %>

