@import 'bootstrap/dist/css/bootstrap';

.navbar {
  background-color: black !important;
} 

.nav-link {
	color: white !important;
}


#logo {
	float: left;
  font-size: 1.7em;
  color: #fff;
  text-transform: uppercase;
  letter-spacing: -1px;
  font-weight: bold;
}

#home-container{
	margin-top: 30px;
}

.jumbotron {
	background-image: asset-url('static_pages/home1.jpg');
	background-position: center center;
	background-repeat: no-repeat;
	background-size: cover;
	height: 425px;
}

/*Sticky footer classes*/
html,
body {
  height: 100%;
}

#page-content {
  flex: 1 0 auto;
  background-color: lightgrey;
}

#sticky-footer {
  flex-shrink: none;
}

/*Pagination styling*/
.flickr_pagination {
  text-align: center;
  padding: 0.3em;
  cursor: default; }
.flickr_pagination a, .flickr_pagination span, .flickr_pagination em {
  padding: 0.2em 0.5em; 
  border-radius: 5px;}
.flickr_pagination .disabled {
  color: #aaaaaa; }
.flickr_pagination .current {
  font-style: normal;
  font-weight: bold;
  color: #ff0084; }
.flickr_pagination a {
  border: 1px solid whitesmoke;
  color: whitesmoke;
  text-decoration: none; }
  .flickr_pagination a:hover, .flickr_pagination a:focus {
    border-color: grey;
    background: black;
    color: grey; }
.flickr_pagination .page_info {
  color: #aaaaaa;
  padding-top: 0.8em; }
.flickr_pagination .previous_page, .flickr_pagination .next_page {
  border-width: 2px; }
.flickr_pagination .previous_page {
  margin-right: 1em; }
.flickr_pagination .next_page {
  margin-left: 1em; }

/*Styles for the category checkboxes and the categories at the show page*/
.badge {
  background-color: #CEF6F5;
  text-transform: uppercase;
  letter-spacing: -1px;
  font-weight: bold;
}

.input_checkbox input {
  width: auto !important;
}
