<h1 class="text-center mt-5">Categories</h1>
<div>
	<%= render 'shared/pagination', obj: @categories %>
	<% @categories.each do |category| %>
		<div class="row justify-content-md-center">
			<div class="col-4 mt-4">
				<div class="card text-center shadow mb-5 bg-white rounded">
				  <div class="card-header font-italic">
				    <%= link_to category.name, category_path(category) %>
				  </div>
				  <div class="card-footer text-muted">
				    <p><small><%= pluralize(category.articles.count, "article") %></small>
				  </div>
				</div>
			</div>
		</div>
<% end %>
<%= render 'shared/pagination', obj: @categories %>
</div>