<h1 class="text-center mt-5">Create new category</h1>
<div class="container">
  <%= render 'shared/errors', obj: @category %>
  <div class="row justify-content-center">
    <div class="col-10">
      <%= form_with(model: @category, class: "shadow p-3 mb-3 bg-info rounded", local: true) do |f| %>
        <div class="form-group row">
          <%= f.label :name, class: "col-2 col-form-label text-light" %>
          <div class="col-sm-10">
            <%= f.text_field :name, class: "form-control shadow rounded", placeholder: "Category name" %>
          </div>
        </div>         
        <div class="form-group row justify-content-center">
        <%= f.submit class: "btn btn-outline-light btn-lg" %>
        </div>
      <% end %> 
    </div>
    <div class="mb-3">
    <%= link_to 'Cancle and Return to home', root_path, class: "text-info" %>
    </div>
  </div>
</div>