<h1 class="text-center mt-5"><%= "Category: " + @category.name %></h1>
<div class="row card-body justify-content-md-center">
  <% if logged_in? && current_user.admin? %>
    <span class="badge"><%= link_to "Edit category name", edit_category_path(@category) %></span>
  <% end %>
</div>
<%= render 'shared/pagination', obj: @category_articles %>
<%= render 'articles/article', obj: @category_articles %>
<%= render 'shared/pagination', obj: @category_articles %>

