<footer id="sticky-footer" class="py-4 bg-dark text-white">
  <div class="container text-center">
	  <small>Copyright &copy; <%= link_to "Rob Gerrebrands", "https://de.linkedin.com/in/robgerrebrands", class: "text-white" %></small>
  </div>
</footer>