<!DOCTYPE html>
<html>
  <head>
    <title>AlphaBlog</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  </head>

  <body class="d-flex flex-column">
    
  <%= render 'layouts/navigation' %>
  <div id="page-content">
    <%= render 'layouts/messages' %>      
    <%= yield %>
  </div>
  <%= render 'layouts/footer' %>

  </body>
</html>
